body {
  margin: 0;
  height: 2000px;
}

#block {
  height: 200px;
  width: 100%;
  background: cyan;
}

#small {
  height: 200px;
  background: wheat;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}